.hide-display {
   
}

*{
  background: #45ac8b no-repeat center fixed;
  background-size: cover;
}

header {
     text-align: center;
}

navigation {
  position: relative;
    left: 30px;
}

#createForm {
  position: relative;
    left: 30px;
}

#form-container{
  position: relative;
    left: 30px;
}

#forms{
  position: relative;
    left: 30px;
}

*form-entries {
    background: white !important;
}