.hide-display {
   
}

/* head{
  background-image: url("https://wallpapercave.com/wp/kDU7VPe.gif") no-repeat center fixed;
  https://www.pixeden.com/media/k2/galleries/220/003-wood-melamine-subttle-pattern-background-pat.jpg
  background-size: cover; https://wallpapercave.com/wp/kDU7VPe.gif
}
*/

*{
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  color: white;
}

.hide{
  display:none;
}
.hide-forms{
  display:none;
}

#doctor{
  color:black;
  margin-bottom: 5px;
}

#specialty{
  color:black;
  margin-bottom: 5px;
}

#id{
  color:black;
  margin-bottom: 5px;
}

#questions{
  color:black;
}

.start-page{
   border-top: 1px solid #54606e;
   background: #5891db;
   background: -webkit-gradient(linear, left top, left bottom, from(#1040cf), to(#5891db));
   background: -webkit-linear-gradient(top, #1040cf, #5891db);
   background: -moz-linear-gradient(top, #1040cf, #5891db);
   background: -ms-linear-gradient(top, #1040cf, #5891db);
   background: -o-linear-gradient(top, #1040cf, #5891db);
   padding: 15.5px 31px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.start-page:hover {
   border-top-color: #5d68ba;
   background: #5d68ba;
   color: #fffaff;
   }
.start-page:active {
  border-top-color: #1b435e;
   background: #1b435e;
   }


.welcome-screen{
  text-align: center;
  /*font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif; */
}

.dropdown{
  text-align: center;
}


.start-page{
 border-top: 1px solid #54606e;
   background: #5891db;
   background: -webkit-gradient(linear, left top, left bottom, from(#1040cf), to(#5891db));
   background: -webkit-linear-gradient(top, #1040cf, #5891db);
   background: -moz-linear-gradient(top, #1040cf, #5891db);
   background: -ms-linear-gradient(top, #1040cf, #5891db);
   background: -o-linear-gradient(top, #1040cf, #5891db);
   padding: 15.5px 31px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.startpage:hover {
   border-top-color: #5d68ba;
   background: #5d68ba;
   color: #fffaff;
   }
.startpage:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.screenshot{
  display: inline-block;
}

.img{
 position: relative;
    float: left;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.screenShotDesc{
  font-size: 16px;
}

body{
   background-image: url("https://www.thewallpapers.org/photo/44424/Background_Blue.jpg");
}

header {
     text-align: center;
}

.row {
  position: relative;
    
}



#createForm {
  position: relative;
   text-align: center;
}

#newForm{
    border: none;
    outline: none;

}

fieldset{
    border: none;
}

#form-container{
  position: relative;
    text-align: center;
}

#forms{
  position: relative;
 padding: 4px;
}

}

.dropbtn{
    border-top: 1px solid #54606e;
   background: #5891db;
   background: -webkit-gradient(linear, left top, left bottom, from(#1040cf), to(#5891db));
   background: -webkit-linear-gradient(top, #1040cf, #5891db);
   background: -moz-linear-gradient(top, #1040cf, #5891db);
   background: -ms-linear-gradient(top, #1040cf, #5891db);
   background: -o-linear-gradient(top, #1040cf, #5891db);
   padding: 15.5px 31px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.dropbtn:hover {
   border-top-color: #5d68ba;
   background: #5d68ba;
   color: #fffaff;
   }
.dropbtn:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.nav-button{
    border-top: 1px solid #54606e;
   background: #5891db;
   background: -webkit-gradient(linear, left top, left bottom, from(#452ade), to(#5891db));
   background: -webkit-linear-gradient(top, #452ade, #5891db);
   background: -moz-linear-gradient(top, #452ade, #5891db);
   background: -ms-linear-gradient(top, #452ade, #5891db);
   background: -o-linear-gradient(top, #452ade, #5891db);
   padding: 6px 12px;
   -webkit-border-radius: 28px;
   -moz-border-radius: 28px;
   border-radius: 28px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}


#nav-view-button {
   border-top: 1px solid #54606e;
   background: #5891db;
   background: -webkit-gradient(linear, left top, left bottom, from(#1040cf), to(#5891db));
   background: -webkit-linear-gradient(top, #1040cf, #5891db);
   background: -moz-linear-gradient(top, #1040cf, #5891db);
   background: -ms-linear-gradient(top, #1040cf, #5891db);
   background: -o-linear-gradient(top, #1040cf, #5891db);
   padding: 15.5px 31px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }

   #nav-create-button{
    border-top: 1px solid #54606e;
   background: #5891db;
   background: -webkit-gradient(linear, left top, left bottom, from(#1040cf), to(#5891db));
   background: -webkit-linear-gradient(top, #1040cf, #5891db);
   background: -moz-linear-gradient(top, #1040cf, #5891db);
   background: -ms-linear-gradient(top, #1040cf, #5891db);
   background: -o-linear-gradient(top, #1040cf, #5891db);
   padding: 15.5px 31px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }

   #nav-create-button:hover{
     border-top-color: #5d68ba;
   background: #5d68ba;
   color: #fffaff;
   }

   #nav-create-button:active{
  border-top-color: #1b435e;
   background: #1b435e;
   }


 #nav-view-button:hover {
    border-top-color: #5d68ba;
   background: #5d68ba;
   color: #fffaff;
   }
.nav-button:hover{
    border-top-color: #5d68ba;
   background: #5d68ba;
   color: #fffaff;
}   

 #nav-view-button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

   .nav-button:active{
     border-top-color: #1b435e;
   background: #1b435e;
   }

   #view-all{
     border-top: 1px solid #54606e;
   background: #5891db;
   background: -webkit-gradient(linear, left top, left bottom, from(#452ade), to(#5891db));
   background: -webkit-linear-gradient(top, #452ade, #5891db);
   background: -moz-linear-gradient(top, #452ade, #5891db);
   background: -ms-linear-gradient(top, #452ade, #5891db);
   background: -o-linear-gradient(top, #452ade, #5891db);
   padding: 6px 12px;
   -webkit-border-radius: 28px;
   -moz-border-radius: 28px;
   border-radius: 28px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }

   #view-all:hover{
     border-top-color: #5d68ba;
    background: #5d68ba;
    color: #fffaff;
   }

   #view-all:active{
    border-top-color: #1b435e;
    background: #1b435e;
   }

.hidden-elements{
    display:none;
}

#questions {
  width: 300px;
  height: 150px;
}

#form-entries{
position: relative;
border: 1px solid white;
border-collapse: separate;
border-spacing: 15px;
width: 500px;
text-align: center;
margin: auto;
width: 50%;
padding: 10px;
margin-bottom: 30px;
}


#new-submit-button{
  margin-top: 5px;
  border-top: 1px solid #54606e;
   background: #5891db;
   background: -webkit-gradient(linear, left top, left bottom, from(#452ade), to(#5891db));
   background: -webkit-linear-gradient(top, #452ade, #5891db);
   background: -moz-linear-gradient(top, #452ade, #5891db);
   background: -ms-linear-gradient(top, #452ade, #5891db);
   background: -o-linear-gradient(top, #452ade, #5891db);
   padding: 6px 12px;
   -webkit-border-radius: 28px;
   -moz-border-radius: 28px;
   border-radius: 28px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

#update-button{
margin-top: 5px;  
border-top: 1px solid #54606e;
   background: #5891db;
   background: -webkit-gradient(linear, left top, left bottom, from(#452ade), to(#5891db));
   background: -webkit-linear-gradient(top, #452ade, #5891db);
   background: -moz-linear-gradient(top, #452ade, #5891db);
   background: -ms-linear-gradient(top, #452ade, #5891db);
   background: -o-linear-gradient(top, #452ade, #5891db);
   padding: 6px 12px;
   -webkit-border-radius: 28px;
   -moz-border-radius: 28px;
   border-radius: 28px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

#new-submit-button:hover{
 
   border-top-color: #5d68ba;
   background: #5d68ba;
   color: #fffaff;

}

#update-button:hover{
  border-top-color: #5d68ba;
   background: #5d68ba;
   color: #fffaff;
}
