.hide-display {
   
}

/* head{
  background-image: url("https://wallpapercave.com/wp/kDU7VPe.gif") no-repeat center fixed;
  https://www.pixeden.com/media/k2/galleries/220/003-wood-melamine-subttle-pattern-background-pat.jpg
  background-size: cover; https://wallpapercave.com/wp/kDU7VPe.gif
}
*/
.welcome-screen{
  text-align: center;
}


.screenshots{
  display: inline-block;
}

body{
   background-image: url("https://www.pixeden.com/media/k2/galleries/220/003-wood-melamine-subttle-pattern-background-pat.jpg");
}

header {
     text-align: center;
}

.row {
  position: relative;
    left: 30px;
}



#createForm {
  position: relative;
    left: 30px;
}

#newForm{
    border: none;
    outline: none;

}

fieldset{
    border: none;
}

#form-container{
  position: relative;
    left: 30px;
}

#forms{
  position: relative;
    left: 30px;
}


.dropbtn{
     border-top: 1px solid #f7c497;
   background: #d49f65;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c6a3e), to(#d49f65));
   background: -webkit-linear-gradient(top, #9c6a3e, #d49f65);
   background: -moz-linear-gradient(top, #9c6a3e, #d49f65);
   background: -ms-linear-gradient(top, #9c6a3e, #d49f65);
   background: -o-linear-gradient(top, #9c6a3e, #d49f65);
   padding: 7.5px 15px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.dropbtn:hover {
   border-top-color: #785b29;
   background: #785b29;
   color: #ccc;
   }
.dropbtn:active {
   border-top-color: #5c441b;
   background: #5c441b;
   }

.nav-button{
     border-top: 1px solid #f7c497;
   background: #d49f65;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c6a3e), to(#d49f65));
   background: -webkit-linear-gradient(top, #9c6a3e, #d49f65);
   background: -moz-linear-gradient(top, #9c6a3e, #d49f65);
   background: -ms-linear-gradient(top, #9c6a3e, #d49f65);
   background: -o-linear-gradient(top, #9c6a3e, #d49f65);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}


#nav-view-button {
    border-top: 1px solid #f7c497;
   background: #d49f65;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c6a3e), to(#d49f65));
   background: -webkit-linear-gradient(top, #9c6a3e, #d49f65);
   background: -moz-linear-gradient(top, #9c6a3e, #d49f65);
   background: -ms-linear-gradient(top, #9c6a3e, #d49f65);
   background: -o-linear-gradient(top, #9c6a3e, #d49f65);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }


 #nav-view-button:hover {
   border-top-color: #785b29;
   background: #785b29;
   color: #ccc;
   }
.nav-button:hover{
    border-top-color: #785b29;
   background: #785b29;
   color: #ccc;
}   

 #nav-view-button:active {
   border-top-color: #5c441b;
   background: #5c441b;
   }

   .nav-button:active{
    border-top-color: #5c441b;
   background: #5c441b;
   }

.hidden-elements{
    display:none;
}
